USE [DeviceManagerDb]
GO

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/laptop.svg'
WHERE [CategoryId] = 1;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/desktop.svg'
WHERE [CategoryId] = 2;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/monitor.svg'
WHERE [CategoryId] = 3;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/printer.svg'
WHERE [CategoryId] = 4;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/scanner.svg'
WHERE [CategoryId] = 5;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/projector.svg'
WHERE [CategoryId] = 6;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/network-switch.svg'
WHERE [CategoryId] = 7;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/router.svg'
WHERE [CategoryId] = 8;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/wifi-access-point.svg'
WHERE [CategoryId] = 9;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/ups.svg'
WHERE [CategoryId] = 10;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/server.svg'
WHERE [CategoryId] = 11;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/keyboard.svg'
WHERE [CategoryId] = 12;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/mouse.svg'
WHERE [CategoryId] = 13;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/docking-station.svg'
WHERE [CategoryId] = 14;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/tablet.svg'
WHERE [CategoryId] = 15;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/smartphone.svg'
WHERE [CategoryId] = 16;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/headset.svg'
WHERE [CategoryId] = 17;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/webcam.svg'
WHERE [CategoryId] = 18;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/ssd.svg'
WHERE [CategoryId] = 19;

UPDATE [dbo].[DeviceCategories]
SET [Description] = N'/images/device-categories/hdd.svg'
WHERE [CategoryId] = 20;
GO